.header {
  z-index: 1;
  position: sticky;
  padding: 7px;
  left: 0;
  top: 0;
  height: 64px;
  width: 100%;
  background-color: var(--colors__bg_main);
}

.aside {
  z-index: 1;
  position: sticky;
  padding-left: 7px;
  left: 0px;
  top: 64px;
  width: 219px;
  height: calc(100vh - 79px);
}

.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  width: 100%;
  height: 200vh;
}

.container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  gap: 7px;
}

.main {
  flex: 1 1 auto;
  border: 1px solid var(--colors__bg_primary);
  margin-bottom: 20px;
  padding: 0 25px;
  max-width: calc(100vw - 256px);
}
