.spinner {
  width: 140px;
  height: 140px;

  border: 0.4rem solid var(--colors__primary);
  border-left: 0.4rem solid var(--colors__bg_main);
  border-radius: 50%;

  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
